.filters {
  color: white;
  width: 250px;
  border: 1px solid #ffff;
  height: 700px;
  padding: 10px;

  &__sort_by {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
  }
}

.filters_item {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  &__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin-left: 6px;
  }
  &__img {
    display: inline;
  }
}

.sorting {
  font-size: 15px;
  font-family: 'Cuprum', sans-serif;
  margin-top: 8px;
  border-radius: 3px;
}
