.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  height: auto;
  background-color: #1f1b2e;
  padding: 16px;
  border-radius: 6px;
  overflow: hidden;
}

.sort_by {
  width: 25%;
  position: relative;
}

.sorting {
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-color: #312b45;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  padding: 15px;
  border: none;
  height: 55px;
  width: 100%;
  overflow: hidden;
  border-radius: 0.25em;
  transition: 0.2s ease-in;

  &:hover {
    transition: 0.2s ease-in;
  }
  &::-ms-expand {
    display: none;
  }
  &__year {
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-color: #312b45;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Cuprum', sans-serif;
    padding: 15px;
    font-size: 17px;
    width: 100%;
    border: none;
    height: 55px;
    overflow: hidden;
    border-radius: 0.25em;
    transition: 0.2s ease-in;
    &:hover {
      transition: 0.2s ease-in;
    }
    &::-ms-expand {
      display: none;
    }
  }
}

.sort_img {
  position: absolute;
  top: 22px;
  right: 5px;
  z-index: 10;
  padding: 0 1em;
  pointer-events: none;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    top: 22px;
    right: 5px;
    z-index: 10;
    padding: 0 1em;
    pointer-events: none;
    transform: rotate(-180deg);
    transition: 0.2s ease-in;
  }
}

.release_year {
  width: 25%;
  position: relative;
}

.year_img {
  position: absolute;
  top: 22px;
  right: 5px;
  z-index: 10;
  padding: 0 1em;
  pointer-events: none;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    top: 22px;
    right: 5px;
    z-index: 10;
    padding: 0 1em;
    pointer-events: none;
    transform: rotate(-180deg);
    transition: 0.2s ease-in;
  }
}

// Жанры

.genre {
  display: flex;
  position: relative;
  background-color: #312b45;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  padding: 15px;
  border: none;
  height: auto;
  width: 20%;
  border-radius: 0.25em;
  transition: 0.2s ease-in;
  cursor: pointer;
  align-items: center;
  border-radius: 0.25em;
}

.genre_header {
  &__title {
    font-size: 17px;
  }
}

.genre_img {
  position: absolute;
  top: 22px;
  right: 10px;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    top: 22px;
    right: 10px;
    transform: rotate(-180deg);
    transition: 0.2s ease-in;
  }
}

.genre_inner {
  display: none;
  &__active {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    top: 45px;
    left: 0;
    z-index: 10;
    width: 435px;
    background-color: #312b45;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 5px;
  }
}

.genre_element {
  margin: 10px;
  position: relative;
  width: 40%;
}

.title {
  font-size: 15px;
}

.genre_item {
  display: block;
  cursor: pointer;
  &:hover .item_img {
    opacity: 0.5;
  }
}

.item_img {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 2px;
}

.input {
  display: none;
}
.input:checked ~ .item_img {
  opacity: 1;
}

//reset

.reset {
  margin-top: 25px;
  transition: 0.2s linear;

  &__title {
    font-size: 17px;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    margin-left: 7px;
  }

  &:hover {
    color: #ea0042;
  }
  &__checkboxes {
    width: 100%;
    display: none;
  }
}

.label {
  display: flex;
  cursor: pointer;
}
