.filters {
  display: flex;
  color: white;
  width: 100%;
  height: auto;
  background-color: #1f1b2e;
  padding: 16px;
  border-radius: 6px;
  position: relative;
}

.sorting {
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-color: #312b45;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  padding: 15px;
  border: none;
  height: 55px;
  width: 250px;
  overflow: hidden;
  border-radius: 0.25em;
  transition: 0.2s ease-in;

  &:hover {
    transition: 0.2s ease-in;
  }
  &::-ms-expand {
    display: none;
  }
  &__year {
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-color: #312b45;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Cuprum', sans-serif;
    padding: 15px;
    font-size: 17px;
    width: 121px;
    border: none;
    height: 55px;
    overflow: hidden;
    border-radius: 0.25em;
    transition: 0.2s ease-in;
    margin-left: 25px;
    &:hover {
      transition: 0.2s ease-in;
    }
    &::-ms-expand {
      display: none;
    }
  }
}

.sort_img {
  position: absolute;
  top: 38px;
  left: 227px;
  z-index: 1000;
  padding: 0 1em;
  pointer-events: none;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    top: 38px;
    left: 227px;
    z-index: 1000;
    padding: 0 1em;
    pointer-events: none;
    transform: rotate(-180deg);
    transition: 0.2s ease-in;
  }
}

.year_img {
  position: absolute;
  top: 38px;
  left: 373px;
  z-index: 1000;
  padding: 0 1em;
  pointer-events: none;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    top: 38px;
    left: 373px;
    z-index: 1000;
    padding: 0 1em;
    pointer-events: none;
    transform: rotate(-180deg);
    transition: 0.2s ease-in;
  }
}

// Жанры

.genre {
  display: flex;
  position: relative;
  background-color: #312b45;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold;
  padding: 15px;
  border: none;
  height: auto;
  width: 250px;
  border-radius: 0.25em;
  transition: 0.2s ease-in;
  margin-left: 25px;
  cursor: pointer;
  align-items: center;
}

.genre_header {
  &__title {
    font-size: 17px;
  }
}

.genre_img {
  position: absolute;
  top: 22px;
  right: 10px;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    top: 22px;
    right: 10px;
    transform: rotate(-180deg);
    transition: 0.2s ease-in;
  }
}

.genre_inner {
  position: absolute;
  display: none;
  top: 45px;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #312b45;
  padding: 15px;
  transition: 0.2s ease-in;
  &__active {
    position: absolute;
    display: block;
    top: 45px;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #312b45;
    padding: 5px;
    transition: 0.2s ease-in;
  }
}

.genre_element {
  margin: 16px 0;
  position: relative;
}

.title {
  font-size: 15px;
}

.genre_item {
  display: block;
  cursor: pointer;
  &:hover .item_img {
    opacity: 0.5;
  }
}

.item_img {
  opacity: 0;
  position: absolute;
  top: 20%;
  right: 2px;
}

.input {
  display: none;
}
.input:checked ~ .item_img {
  opacity: 1;
}
