.header {
  position: relative;
  display: flex;
  color: #ffff;
  justify-content: space-between;
  height: 70px;
  padding: 5px;
  text-transform: uppercase;
  &__inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #ffff;
  }
}

.login {
  &__btn {
    margin-top: 15px;
    font-size: 20px;
    background-color: #ea0042;
    padding: 10px;
    border-radius: 5px;
  }
}

.modal {
  background-color: #312b45;
  background-image: none;
  color: #fff;
  transition: 0.4s linear;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 25px;
    font-family: 'Cuprum', sans-serif;
  }
}

.input {
  display: block;
  width: 100%;
  height: 35px;
  &__title {
    display: block;
    text-align: left;
    font-size: 17px;
    font-family: 'Cuprum', sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  &__btn {
    background-color: #ea0042;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    &__opacity {
      opacity: 0.5;
      background-color: #ea0042;
      width: 100%;
      padding: 15px;
      border-radius: 8px;
      font-size: 20px;
      display: block;
      margin: 20px auto;
    }
  }
}

.form_inputs {
  display: block;
}

.warning {
  margin: 5px;
  color: #ea7000;
  text-align: left;
  font-size: 15px;

  &__user {
    color: #ea7000;
    margin: 5px;
    font-size: 15px;
    text-align: center;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  padding: 5px;
}

.btn_exit {
  background-color: #ea0042;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.user_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  &__img {
    width: 20px;
    height: 20px;
  }
  &__title {
    font-size: 20px;
  }
}
