.header {
  position: relative;
  display: flex;
  color: #ffff;
  justify-content: space-between;
  height: 70px;
  padding: 5px;
  text-transform: uppercase;
  &__inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #ffff;
  }
}

.login {
  &__btn {
    margin-top: 15px;
    font-size: 25px;
  }
}

.modal {
  transition: 0.4s linear;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  width: 80%;
}
