.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffff;
  text-align: center;
  width: 100%;
  padding: 0 35px;
}

.movie {
  margin-top: 30px;
  width: 19%;
  // border: 1px solid #ffff;

  &__inner {
    width: 100%;
    padding: 5px;
    color: #ffff;
    height: 100%;
    overflow: hidden;
  }
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.title {
  margin-top: 5px;
  text-transform: uppercase;
}
