.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffff;
  text-align: center;
  width: 100%;
}

.movie {
  margin-top: 15px;
  width: 19%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  &__inner {
    width: 100%;
    color: #ffff;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    &:hover {
      transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      transform: scale(0.97);
    }
    &:hover .active {
      opacity: 1;
      transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    &:hover .img {
      transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      transform: scale(1.1);
      filter: blur(4px);
    }
  }
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.title {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.active {
  cursor: pointer;
  opacity: 0;
  font-family: 'Cuprum', sans-serif;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  z-index: 2;
  height: 100%;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.active_inner {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 50%;
  &__rating {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 10px;
    text-align: left;
  }
  &__release {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
    &:nth-child(2n) {
      margin-top: 15px;
    }
  }
  &__span {
    font-family: 'Cuprum', sans-serif;
    color: #ea0042;
    font-size: 35px;
    font-weight: bold;
  }
}

//404

.error {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 50px;
  &__title {
    font-size: 25px;
  }
}
