.pagination {
  margin-top: 35px;
  background-color: #1f1b2e;
  width: 100%;
  margin-bottom: 35px;
  padding: 30px;
}

.button {
  display: flex;
  justify-content: center;
  &__item {
    background-color: #100e19;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.7;
    color: white;
    font-size: 15px;
    font-family: 'Cuprum';
    border-radius: 7px;
    padding: 10px;
    margin-left: 15px;
    &:first-child {
      margin-left: 235px;
    }
    &:hover {
      transition: opacity 0.1s linear;
      opacity: 1;
    }
  }
}
